<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
<% if current_learn_user %>
   <li><%= link_to "登出", destroy_learn_user_session_path, method: :delete, class:"btn" %></li>
<% else %>
   <li><%= link_to "註冊", new_learn_user_registration_path, class:"btn" %></li>
   <li><%= link_to "登入", new_learn_user_session_path, class:"btn" %></li>
<% end %>

<%= react_component("HelloWorld", { greeting: "Hello from react-rails." }) %>