<h1>學習文章!</h1>
<p>
RubyそしてRailsをこれから勉強したい方に、どんな技術を勉強すればいいかと、それらの技術全体のガイドマップを図示します。そしてそれを学ぶための資料（書籍、Web記事ほか）を紹介していきます。この記事は、頭の中に技術全体の地図を描き、イメージしてもらうのが狙いです。

Railsアプリを作るときに必要になたくさんの技術について説明していきますが、本当にたくさんの技術が出てきます。まだ学んでいない、分からない言葉が出てくると思いますが、全体を把握するために、ひとまずは「そういう技術があるのだな」くらいで捉えてもらえればと思います。将来、その言葉が出てきたときに「どこかで聞いたような？」と思えたら儲けものです。

勉強方法のお勧めは、1つの知識を徹底的にやるよりも、まずは全体を通して勉強し、そのあとで勉強したいところに戻って積み重ねて学んでいく方が、挫折しづらいのでお勧めです。

追記(2019年9月1日): 本稿公開後、加筆改訂版を2019年4月に行われた技術書典6にて出版しました。技術全体図をイラストで描き、トピックを増やし、本稿公開後にいただいたフィードバックや追調査した結果で本記事の内容も改訂しています。加筆改訂版は BOOTH にて電子書籍版を購入できます。
</p>